# Base de données PostgreSQL (Neon)
DATABASE_URL="postgresql://user:password@host/database?sslmode=require"

# NextAuth.js v5
AUTH_SECRET="votre-secret-nextauth-32-caracteres-minimum"
NEXTAUTH_URL="http://localhost:3000"

# Application
NEXT_PUBLIC_APP_NAME="Ferm'Afrik"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
